<p>Venta de Boletos</p>
<div>
    <body style="background-color: royalblue; text-align: center;margin-left: 40%; margin-right: 40%;">
        <h1>Registro</h1>
        <h1></h1>
        <input placeholder="NOMBRE" [(ngModel)]="nombre" >
        <br>  
        <br>   
        <input placeholder="APELLIDO" [(ngModel)]="direccion" >
        <br>  
        <br>   
        <input placeholder="CELULAR" [(ngModel)]="celular" >
        <br>  
        <br>   
        <input placeholder="EDAD" [(ngModel)]="edad" >
        <br>  
        <br>   
        <button>Guardar</button>
    </body>
</div>
